@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to bottom right, rgb(31, 31, 31), rgb(35, 30, 41)); */
  background-color: #202020;
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.inputContainer {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 10vh;
}

input {
  width: clamp(12rem, 50vw, 20rem);
  padding: 0 0.2em;
  color: black;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
  outline: none;
  transition: 0.3s all ease-out;
}

input:where(:focus-visible, :hover) {
  box-shadow: 0px 0px 15px -5px rgba(255, 255, 255, 0.325);
  transform: scale(1.01);
}

button {
  border-color: transparent;
  outline: none;
  color: white;
  background-color: rgb(3, 116, 255);
  padding: 0 0.2em;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .inputContainer{
    grid-auto-flow: row;
  }
  input {
    width: 90vw;
    border-radius: 10px;
}
  button{
    border-radius: 10px;
  }
}

#content {
  width: 100vw;
  display: grid;
  place-items: center;
}

#toDoListContainer {
  min-height: 70vh;
  width: min(90%, 30rem);
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(86, 99, 120, 0.202);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: hidden;
}

.checkboxContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* animation: wigleWigle .1s ease-out forwards; */
}

.checkboxContainer input {
  transform: scale(1.25);
  width: fit-content;
  transition: all 0.3s ease-out;
  outline: none;
  border: none;
}

.checkboxContainer input:hover {
  transform: scale(1.25);
}

.checkboxContainer label {
  font-weight: 500;
  height: fit-content;
  transition: all 0.3s ease-out;
}

.checkboxContainer input:checked,
.checkboxContainer input:checked ~ label {
  text-decoration: line-through;
  font-weight: 300;
  opacity: 0.5;
}

.checked {
  text-decoration: line-through;
  font-weight: 300;
  opacity: 0.5;
}

@keyframes wigleWigle {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

#Undo__btn{
  background-color: white;
  color: blue;
  margin-left: .1rem;
  border-radius: 20px;
}