@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1c;
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: -25%;
  right: -30%;
  background-color: rgba(31, 126, 177);
  filter: blur(20px);
  opacity: 0.1;
  border-radius: 50%;
  height: 20rem;
  aspect-ratio: 1;
  z-index: -100;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(68, 26, 83);
  filter: blur(20px);
  opacity: 0.1;
  border-radius: 50%;
  height: 10rem;
  z-index: -100;
  aspect-ratio: 1;
}

.inputContainer {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 10vh;
}

#toDo {
  width: clamp(12rem, 50vw, 20rem);
  padding: 0.2em 0.4em;
  color: #e6e6e6;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  background-color: #202124;
  outline: rgba(255, 255, 255, 0.2) 1px solid;
  transition: 0.3s all ease-out;
}

#toDo:where(:focus-visible, :hover) {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: #303134;
}

#input__btns {
  margin-left: 0.5rem;
  outline: rgba(255, 255, 255, 0.2) 1px solid;
  border-radius: 15px;
  background-color: #202124;
}

#submit {
  border: none;
  outline: none;
  color: #e6e6e6;
  background-color: transparent;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all ease-out;
}

#submit:where(:hover, :focus-visible) {
  background-color: #303134;
}

#Undo__btn {
  border: none;
  outline: none;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.076);
  color: rgb(154, 34, 7);
  margin-left: 0.1rem;
  border-radius: 20px;
  transition: 0.3s all ease-out;
}

#Undo__btn:where(:hover, :focus-visible) {
  color: rgb(250, 0, 0);
  background-color: #e6e6e6;
}

@media screen and (max-width: 550px) {
  .inputContainer {
    grid-auto-flow: row;
  }
  #toDo {
    width: 90vw;
    border-radius: 10px;
  }
}

#content {
  width: 100vw;
  display: grid;
  place-items: center;
}

#toDoListContainer {
  min-height: 70vh;
  width: min(90%, 30rem);
  margin: 1rem;
  padding: 1rem;
  background-color: #292b31c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: hidden;
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  box-shadow: inset 0 0 5px 1px rgba(43, 62, 90, 0.523), 
  0 0 5px rgba(255, 255, 255, 0.2);
}

.checkboxContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.checkboxContainer input {
  transform: scale(1.25);
  width: fit-content;
  border: none;
  transition: all 0.2s ease-out;
}

.checkboxContainer input:hover {
  box-shadow: 0 0 5px 5px #303134;
}

.checkboxContainer label {
  font-weight: 500;
  height: fit-content;
  transition: all 0.3s ease-out;
}

.checkboxContainer input:checked,
.checkboxContainer input:checked ~ label {
  text-decoration: line-through;
  font-weight: 300;
  opacity: 0.5;
}

.checked {
  text-decoration: line-through;
  font-weight: 300;
  opacity: 0.5;
}

@keyframes wigleWigle {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
